
.header
  .header_box
    .header_title
      Judge Paper
  .links
    .link ログイン
    .link 新規登録



.contents1
  .contents1_box
    .contents1_title
      取り扱い説明
    .guide_box1
      本アプリはボクシングの採点を行うアプリです。<br>

  
.contents2
  .contents2_box
    .contents2_title
      採点基準
    .guide_box2
      %p (1) 有効なクリーンヒット
      %h3 ボクシングにおいて最も重視されるのが有効なクリーンヒットです。有効なクリーンヒットとは、相手にダメージを与える顔面やボディへのパンチで、有効なクリーンヒットの数が多ければ、文句なしにポイントを奪取できます。
      %p (2) 積極的な攻撃姿勢
      %h3 有効なクリーンヒット数が同じ場合や全くない場合は、積極的に攻撃を仕掛けて、パンチを出しているかどうかをチェックします。ただし、手を出さずにガードを固めて前へ出ているだけでは攻撃とみなされず、ポイントを奪うことはできません。
      %p (3) ディフェンス（防御技術）
      %h3 有効なクリーンヒットでも、積極的な攻撃姿勢でも優劣が付かない場合は、相手の攻撃を無効にするディフェンス技術が評価されます。ただし、全くパンチを出さず、ディフェンスに専念したり、足を使って逃げ回っているだけでは、ポイントは奪えません
      %p (4) リングジェネラルシップ（主導権支配）
      %h3 有効なクリーンヒット、積極的な攻撃姿勢、ディフェンス技術でも優劣を付けることができない場合は、どちらが試合の主導権を支配しているのか、つまり、どちらのペースで試合が進んでいるのかで優劣を付けます。
      %p (5) ノックダウン
      %h3 ダウンは採点にも大きな影響を与え、ノックダウンを1度奪うと10対8、2度奪うと10対7になります。

.contents3

  .contents3_box
    =link_to "/boxers/new"do
      .start_btn
        .start_btn_icon
        .start_btn_text
          採点に進む

          

.footer
  .footer_text
    .footer_title
      Judge Paper
    .copylight
      (C) Mitsuki Morita